<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
        http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.2.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.2.xsd">

    <!--开启注解-->
    <mvc:annotation-driven />
    <context:component-scan base-package="top.ywlog.o2o.web" />
    <bean id="viewResolver" class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="prefix" value="/WEB-INF/html/" />
        <property name="suffix" value=".html" />
    </bean>
    <!--处理request中参数问题-->
    <!--文件上传解析器-->
    <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
        <property name="defaultEncoding" value="utf-8"/>
        <!--1024*1024*20-->
        <property name="maxUploadSize" value="20971520"/>
        <property name="maxInMemorySize" value="20971520"/>
    </bean>

    <!-- 配置静态资源映射  -->
    <!-- 指定/WEB-INF/js   /WEB-INF/css/  下的所有的静态资源包括子目录下的静态资源  都不被拦截-->
    <!--  mapping=/js/**  :表示访问静态资源的路径的形式    可以访问 /js/下的静态资源或者所有的子目录下的静态资源-->
    <mvc:resources location="/resources/" mapping="/resources/**"/>

    <!-- 4.扫描web相关的bean -->
    <context:component-scan base-package="top.ywlog.o2o.web" />
    <!-- 5.权限拦截器 -->
    <mvc:interceptors>
        <!--检验是否对该店铺有操作权限的拦截器-->
        <mvc:interceptor>
            <mvc:mapping path="/shop/**" />
            <bean id="ShopInterceptor" class="top.ywlog.o2o.interceptor.shop.ShopLoginInterceptor" />
        </mvc:interceptor>
        <mvc:interceptor>
            <mvc:mapping path="/front/**" />
            <bean id="ShopInterceptor" class="top.ywlog.o2o.interceptor.shop.ShopLoginInterceptor" />
        </mvc:interceptor>
        <mvc:interceptor>
            <mvc:mapping path="/shop/**" />
            <!-- shoplist page -->
            <mvc:exclude-mapping path="/shop/getShopList" />
            <mvc:exclude-mapping path="/shop/shopList" />

            <mvc:exclude-mapping path="/shop/getShopManagementInfo" />
            <mvc:exclude-mapping path="/shop/shopManagement" />

            <mvc:exclude-mapping path="/shop/getShopInitInfo" />
            <mvc:exclude-mapping path="/shop/registerShop" />
            <mvc:exclude-mapping path="/shop/shopOperation" />

            <mvc:exclude-mapping path="/shop/logout" />
            <bean id="ShopPermissionInterceptor"
                  class="top.ywlog.o2o.interceptor.shop.ShopPermissionInterceptor" />
        </mvc:interceptor>
    </mvc:interceptors>

</beans>